body {
  margin: 0;
}

.header-div {
  background-color: #0f0e17;
  margin: 0;
}

.header-div h1 {
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 48px;
  margin: 0;
  padding: 16px 32px;
}
